<html>
<head>
    <title id="pageTitle">{{messages["reset.password.title"]}}</title>
	{% stylesheets "@TooterBundle/Resources/public/assets/css/bootstrap.min.css"%}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{base_directory}}/assets/img/favicon.ico"/>
</head>
<body style="padding-top: 15px;">
<div class="container-fluid">
    <div class="hero-unit">
        <h3>{{messages["reset.password.title"]}}</h3>
		
        <form id="user" action="reset-password" method="POST">
            <div class="control-group">
                {{messages["reset.password.message"]}}
            </div>
            <div class="control-group">
				{% if error %}
						<div id="{{error.id}}" class="{{error.styleClass}}">
						{% if error.message in messages|keys %}
							{{messages[error.message]}}
						{% else %}
							{{error.message}}
						{% endif %}
						</div>
				{% endif %}
            </div>
            <div class="control-group">
                <label for="email">{{messages["customer.email"]}}</label>
                <input id="email" name="email" type="text" value=""/>
            </div>
            <div class="control-group">
                <div class="controls">
                    <a class="btn" href="login">{{messages["return.message"]}}</a>
                   <button class="btn btn-primary" type="submit">{{messages["customer.password.reset"]}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
{% javascripts '@TooterBundle/Resources/public/assets/js/bootstrap.min.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>