<html>
<head>
    <title id="pageTitle">{{messages["reset.password.title"]}}</title>
	{% stylesheets "@TooterBundle/Resources/public/assets/css/bootstrap.min.css"%}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
    <link rel="icon" type="image/vnd.microsoft.icon" href="<c:url value='/assets/img/favicon.ico'/>"/>
</head>
<body style="padding-top: 15px;">
<div class="container-fluid">
    <div class="hero-unit">
        <h3>{{messages["reset.password.title"]}}</h3>
        <div class="control-group">
			{{messages["reset.password.submission.message"]}}
        </div>
        <div class="control-group">
            <div class="controls">
                <a class="btn btn-primary" href="login">{{messages["reset.password.return.to.login"]}}</a>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
{% javascripts '@TooterBundle/Resources/public/assets/js/bootstrap.min.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>